src/main/resources/xsd/crm/BusinessPartner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="businessPartner">
    <xs:complexType>
      <xs:all>
      	<xs:element type="xs:long" name="id"/>
        <xs:element type="xs:boolean" name="activeFlag"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:string" name="address2"/>
        <xs:element type="xs:int" name="city"/>
        <xs:element type="xs:string" name="cityName"/>
        <xs:element type="xs:int" name="country"/>
        <xs:element type="xs:string" name="countryName"/>
        <xs:element type="xs:int" name="state"/>
        <xs:element type="xs:string" name="stateName"/>
        <xs:element type="xs:string" name="gps"/>
        <xs:element type="xs:double" name="latitude"/>
        <xs:element type="xs:double" name="longitude"/>
        <xs:element type="xs:string" name="createdBy"/>
        <xs:element type="xs:dateTime" name="createdDate"/>
        <xs:element type="xs:string" name="currentSupplier"/>
        <xs:element type="xs:string" name="customFlag"/>
        <xs:element type="xs:string" name="customFlagName"/>
        <xs:element type="xs:dateTime" name="date"/>
        <xs:element type="xs:string" name="fax"/>
        <xs:element type="xs:int" name="contId"/>
        <xs:element type="xs:string" name="lead"/>
        <xs:element type="xs:string" name="leadnotes"/>
        <xs:element type="xs:string" name="leadreqemail"/>
        <xs:element type="xs:string" name="leadreqid"/>
        <xs:element type="xs:string" name="modifiedBy"/>
        <xs:element type="xs:date" name="modifiedDate"/>
        <xs:element type="xs:int" name="org"/>
        <xs:element type="xs:string" name="privateFlag"/>
        <xs:element type="xs:string" name="rep"/>
        <xs:element type="xs:string" name="repName"/>
        <xs:element type="xs:string" name="roleId"/>
        <xs:element type="xs:int" name="source"/>
        <xs:element type="xs:string" name="sourceName"/>
        <xs:element type="xs:boolean" name="status"/>
        <xs:element type="xs:string" name="statusName"/>
        <xs:element type="xs:string" name="primaryDept"/>
        <xs:element type="xs:string" name="primaryEmail"/>
        <xs:element type="xs:string" name="primaryLastName"/>
        <xs:element type="xs:string" name="primaryMobile"/>
        <xs:element type="xs:string" name="primaryName"/>
        <xs:element type="xs:string" name="primaryPhone"/>
        <xs:element type="xs:string" name="primaryphoneExtension"/>
        <xs:element type="xs:string" name="secondaryDept"/>
        <xs:element type="xs:string" name="secondaryEmail"/>
        <xs:element type="xs:string" name="secondaryLastName"/>
        <xs:element type="xs:string" name="secondaryMobile"/>
        <xs:element type="xs:string" name="secondaryName"/>
        <xs:element type="xs:string" name="secondaryPhone"/>
        <xs:element type="xs:string" name="secondaryphoneExtension"/>
        <xs:element type="xs:string" name="thirdConDept"/>
        <xs:element type="xs:string" name="thirdConEmail"/>
        <xs:element type="xs:string" name="thirdConLastName"/>
        <xs:element type="xs:string" name="thirdConMobile"/>
        <xs:element type="xs:string" name="thirdConName"/>
        <xs:element type="xs:string" name="thirdConPhone"/>
        <xs:element type="xs:string" name="thirdConphoneExt"/>
        <xs:element type="xs:string" name="website"/>
        <xs:element type="xs:string" name="zipcode"/>
        <xs:element type="xs:string" name="userId"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>